body{
    background-color:rgb(36, 162, 36);
}

.heading{
    text-align: center;
}

.form-pag{
    background-color: white;
    width: 30%;
    /* height: 100px; */
    margin: 0 auto;

}

.form-1{
    padding-left: 50px;
    padding-top: 20px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#fname{
    width: 90%;
    height: 30px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

#Dropdown-1{
    width: 91%;
    height: 30px;
    font-size: large;
}

button{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 91%;
    height: 35px;
    font-size: large;
    background-color: rgb(36, 162, 36);
}